*, **::after, **::before {
  box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
    background-color: #000;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    cursor: pointer;
    transition: opacity 200ms ease;
}
ul {
    padding: 0;
}
h1, h2, h3, h4 {
    color: white;
}
.header {
    border-bottom: 1px solid white;
}
.header-container {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.p-header {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.anchor {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: white;
    text-decoration: none;
}
.nav {
    display: grid;
    place-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    border: 1px solid black;
    margin: 0;
}
.nav ul li {
    margin: 0;
    padding: 0;
}
.nav ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main {
    flex: 1;
    padding-bottom: 10rem;
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding-top: 25rem;
}
.container-main h1{
    font-size: 4rem;
}
.container-main p {
    font-size: 2.7rem;
}
.container-main button {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    width: 160px;
    margin-top: 5rem;
}
.container-main button a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.container-main .left {
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container-main .left h1 {
    margin: 0;
}
.container-main .left p {
    font-size: 2rem;
    color: gray;
    margin: 0;
}
.container-main .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.individual-container h1 {
    margin: 5rem 0rem;
    font-size: 3.5rem;
}
.individual-container {
    border-radius: 1rem;
    width: 40%;
    margin: 0 auto;
    padding: 0rem 10rem;
}
.individual-container h2 {
    font-size: 2.7rem;
}
.individual-container p {
    color: #6c757d;
    font-size: 1.8rem;
    line-height: 2.3rem;
}
.individual-container .text {
    text-align: left;
}
.sub{
    font-weight: bold;
}